
{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the eLearning Platform!</h1>
    <p class="lead">Your hub for online learning.</p>
    <hr class="my-4">
    {% if user.is_authenticated %}
        <p>Go to your <a href="{% url 'users:profile' %}">profile</a> to get started.</p>
    {% else %}
        <p>
            <a href="{% url 'users:login' %}">Login</a> or
            <a href="{% url 'users:register' %}">Register</a> to begin.
        </p>
    {% endif %}
</div>
{% endblock %}