version: '3.8'

services:
  web:
    build: .
    command: gunicorn elearning.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - /home/webapp/staticfiles/elearning:/app/staticfiles
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:5.2.1
    ports:
      - "6379:6379"
    restart: always