<!-- courses/templates/courses/browse_courses.html -->
{% extends "base.html" %}

{% block content %}
<h2>Available Courses</h2>
<div class="row">
    {% for course in courses %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description|truncatechars:100 }}</p>
                    <a href="{% url 'courses:course-detail' course_id=course.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No courses available at the moment.</p>
    {% endfor %}
</div>
{% endblock %}